.episode-tag {
	position: absolute;
	bottom: var(--card-padding);
	left: var(--card-padding);
	background-color: #57A99A;
	color: white;
	font-weight: bold;
	padding: 8px 16px;
	border-radius: var(--tag-border-radius);
}

.article-image a {
	position: relative;
}

.article-page {
	.main-article {
		.article-content {
			.media-callout {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				row-gap: 20px;
				column-gap: 10px;

				padding: 1em;
				max-width: max-content;
				border-radius: var(--tag-border-radius);
				background-color: var(--accent-color);
				color: var(--accent-color-text);

				a {
					color: var(--accent-color-text);
					text-decoration: underline;
				}

				.media-thumb img {
					float: left;
					height: 175px;
					width: auto;
				}

				.media-callout-grid {
					display: grid;
					font-size: 12pt;
					grid-template-columns: 6em 1fr;
					gap: 0 15px;

					.media-callout-key {
						text-align: right;
						font-weight: bold;
					}
				}
			}
		}
	}	
}

.music {
	color: var(--body-text-color);

	a:hover {
		text-decoration: none;
	}

	a {
		text-decoration: underline;
	}
}
