<div class="media-callout book">
	<div class="media-thumb">
		<a href='{{ .Get "publisher-link" }}' target='_blank'><img src='{{ .Get "cover" }}' alt='Cover of {{ .Get "title" }}'/></a>
	</div>
	<div class="media-callout-grid">
		{{ if and (isset .Params "ageFrom") (isset .Params "ageTo") }}
			<div class="media-callout-key">Ages</div>
			<div>{{ .Get "ageFrom" }}–{{ .Get "ageTo" }} years</div>
		{{ end }}

		<div class="media-callout-key">Author</div>
		<div>{{ .Get "author" }}</div>

		{{ with $illustrator := .Get "illustrator" }}
			<div class="media-callout-key">Illustrator</div>
			<div>{{ . }}</div>
		{{ end }}

		<div class="media-callout-key">Publisher</div>
		<div><a href='{{ .Get "publisher-link" }}' target='_blank'>{{ .Get "publisher" }}</a></div>

		<div class="media-callout-key">Published</div>
		<div>{{ .Get "date" | time.Format "2 January 2006" }}</div>

		<div class="media-callout-key">Length</div>
		<div>{{ .Get "pages" }} pages</div>
	</div>
</div>