<div class="media-callout">
	<div class="media-thumb">
		<a href='{{ .Get "imdb-link" }}'><img src='{{ .Get "thumb" }}'/></a>
	</div>
	<div class="media-callout-grid">
		<div class="media-callout-key">Director</div>
			{{ .Get "director" }}
		<div class="media-callout-key">Starring</div>
			{{ .Get "starring" }}
		<div class="media-callout-key">Rating</div>
			{{ .Get "rating" }}
		<div class="media-callout-key">Release</div>
			{{ .Get "release-date" | time.Format "2 January 2006" }}
		<div class="media-callout-key">Runtime</div>
			{{ .Get "runtime" }}
		<div class="media-callout-key">Stream</div>
			<a href='{{ .Get "justwatch-link" }}'>JustWatch</a>
	</div>
</div>