{{ if .Page.Params.podbean.id }}
<iframe title='Episode {{.Page.Params.episode}}: {{ .Page.Title }}'
        allowtransparency="true"
        height="150"
        width="50%"
        style="border: none; min-width: min(100%, 430px);"
        scrolling="no"
        data-name="pb-iframe-player"
        src='https://www.podbean.com/player-v2/?i={{ .Page.Params.podbean.id }}&from=pb6admin&share=1&download=1&rtl=0&fonts=Arial&skin=f6f6f6&font-color=auto&btn-skin=7'>
</iframe>
{{ else if .Page.Params.podbean.mp3 }}
    <figure {{ with .Get "class" }}class="{{ . }}"{{ end }}>
    <audio controls preload='{{ .Get "preload" | default "none" }}'>
        <source src="{{ .Page.Params.podbean.mp3 }}" type="audio/mpeg">
    </audio>
    </figure>
{{ end }}